html,
body {
  height: 100%;
}

body {
  background: #000;
  background-image: url(/static/bg.jpg);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Manjari', sans-serif;
  color: #fff;
}

h1 {
  font-size: 4rem;
}

#__next {
  overflow-y: auto;
  overflow-x: hidden;
}
