html,
body {
  height: 100%;
}

body {
  background: #f8c5aa;
  background-image: url(/static/stolen.png);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
